.table .table-striped .custab thead{
	background: #d91f2d;
	color: #fff;
}
hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.jumbotron{
	////background-image: url("\img\mudanza01.png");
    background-color: #5caceb;
    color:#fff;
}
.box{
    border:1px solid #ccc;
    padding:20px;
}


.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 1px;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}



.nav .open > a, .nav .open > a:focus, .nav  .open  > a:hover {
  background-color: #fff;
  border-color: #337ab7;
}